In [1]:
print("hello world in jupyter")

hello world in jupyter

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
lst = [1, 2, 3, 4, 5]
lst2 = [i*i for i in lst]
print(lst2)

[1, 4, 9, 16, 25]

In [8]:
age = int(input("age"))

print(age, type(age))

56 <class 'int'>